:root {
    --input-linear: linear-gradient(#820ad1, #8049a5, #820ad1);
    --input-error: rgb(223, 52, 52);
    --input-success: rgb(18, 151, 107);
    --button-linear: linear-gradient(120deg, #820ad1, #820ad1, #b15beb); 
    --button-disable: #acacac;
}

body {
    overflow-y: auto;
    font-family: sans-serif;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}


.login_container {    
    margin-top: 10vh;
    width: 400px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    margin-bottom: 32px;
    color: black;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login_input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: grey;
    transition: .3s ease-in-out;
}
.login_input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}

.login_input:focus + .login_input-border::after {
    width: 100%;
}

.login_input-border.error{
    background: var(--input-error);
}

.login_input-border.error::after {
    background: var(--input-error);
}

.login_submit {
    height: 48px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.login_submit:disabled {
    background: var(--button-disable);
    cursor: not-allowed;
}

.login_submit:hover {
    background-position: right;
}

.login_submit.error {
    background:  var(--input-error);
}

.login_submit.success {
    background:  var(--input-success);
}

.login_reset {
    padding-top: 20px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}

.login_reset:hover {
    transition: 180ms;
    color: rgb(250, 27, 27);
}

.login_cadastro {
    font-weight: bold;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(100, 39, 110);
    text-decoration: none;
}

.login_cadastro:hover {
    transition: 180ms;
    color: #820ad1;
}


.logo-nu {
    width: 105%;
    padding-top: 25px;
    filter: invert(25%); 
}